.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 80px;
	box-sizing: border-box;

	background: transparent;

	transition: all 0.3s ease;
	z-index: 1000;
}

.navbar.scrolled {
	background: rgba(25, 22, 42, 0.82);

	backdrop-filter: blur(10px);

	border-bottom: 1px solid rgba(124, 58, 237, 0.15);

	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

.logo {
	font-size: 1.4rem;
	font-weight: bold;
	color: #c084fc;
}

.menu-toggle {
	display: none;
}

.nav-links {
	display: flex;
	gap: 2rem;

	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	cursor: pointer;
	transition: color 0.3s;
}

.nav-links li:hover {
	color: #c084fc;
}

.nav-links a {
	color: white;
	text-decoration: none;
	transition: all 0.3s ease;
}

.nav-links a:hover {
	color: #c084fc;
}

.nav-links a.active {
	color: #c084fc;
	border-bottom: 2px solid #c084fc;
}

/*********** Media Queries 768px Tablets **************/
@media (max-width: 768px) {
	.nav-links {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*********** Media Queries 430px Mobile *****************/
@media (max-width: 430px) {
	.navbar {
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 1rem;
	}

	.logo {
		margin: 0;
	}

	.menu-toggle {
		display: block;

		background: none;
		border: none;

		color: #f3f4f6;
		font-size: 2rem;
		cursor: pointer;
	}

	.nav-links {
		display: none;
	}

	.nav-links.active {
		display: flex;
		flex-direction: column;

		position: absolute;
		top: 70px;
		right: 1rem;

		min-width: 140px;
		padding: 1rem;

		gap: 1rem;

		border-radius: 12px;
		border: 1px solid rgba(124, 58, 237, 0.2);

		background: rgba(20, 15, 35, 0.95);
		backdrop-filter: blur(8px);

		box-shadow: 0 0 20px rgba(124, 58, 237, 0.25);
	}
}

/*********** Media Queries 360px Small Mobile *****************/
